html,body{background-color:#F5F5F5}
.clr{clear:both;padding:0,margin:0;height:0;width:100%}
#main{max-width:1200px;margin:auto}
.shadow{-webkit-box-shadow:3px 3px 1px 1px rgba(0,0,0,0.4);-moz-box-shadow:3px 3px 1px 1px rgba(0,0,0,0.4);box-shadow:3px 3px 1px 1px rgba(0,0,0,0.4);}
footer{background-color:#FBFBFB}